body {
    font-family: Arial, sans-serif;
}

form {
    margin-bottom: 2em;
}

#formulario-eliminar {
    margin-top: 2em;
}

img {
    width: 32px;
    height: 32px;
}


input[type="text"], input[type="number"] {
    margin: .5em;
    padding: .5em;
}

input[type="submit"] {
    padding: .5em 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

li {
    margin: .5em 0;
    padding: .5em;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}
